@use '../../../global.scss';

.registro{
    height: 100vh;
    background-image: url("../../../assets/img/fondo.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat';
}
ion-card{
    background: linear-gradient(#dfa474, #9912 ); 
    margin: 0 auto;
    top: 3vh;
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    h1{
        color: rgba(4, 4, 43, 0.904);
        font-weight: bold;
        font-family: 'Lobster';
        b{
            color: rgb(65, 45, 9);
            font-weight: bold;
        }
        .duoc{
            color: rgba(4, 4, 43, 0.904);
            font-size: 30px;
        }
        .uc{
            color: orange;
            font-size: 30px;
        }
        .app{
            color: orange;
        }
        .iniciar{
            font-family: 'Lobster';
        }

    }
}
ion-item{
    --background: none;
    width: 80vw;
    ion-label{
        font-size: large;
        font-weight: bold;
        --color: rgb(65, 45, 9);
        font-family: 'Lobster';
        background: none;
    }
    ion-input{
        font-family: 'Lobster';
        color: rgba(4, 4, 43, 0.904);
    }
}
ion-button{
    color: rgba(4, 4, 43, 0.904);
    margin-top: 10px;
    font-family: 'Montserrat';
    --background: transparentize($color: #249b8bcb, $amount: 0.5);
    font-weight: bold;    
}

a {
    text-decoration: none;
    font-size: large;
    font-family: 'Lobster';
    font-weight: bold;
    color: rgba(4, 4, 43, 0.904);
}
.enlace{
    background: transparentize($color: #dfa474, $amount: 0.5); 
    width: 100vw;
    padding-bottom: 10px;
    padding-top: 10px;
}