<ion-content >
  <div class="registro">
<form action="" >
  <ion-item>
    <ion-label>Rut :</ion-label>
    <ion-input type="text" placeholder=" "></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre :</ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido :</ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fecha de nacimiento :</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Correo :</ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña :</ion-label>
    <ion-input type="password" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Ingrese nuevamente :</ion-label>
    <ion-input type="password" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>¿Cuenta con auto?</ion-label>
    <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
  </ion-item>
  <section>
    <div class="enlace">
      <ion-button expand="block">Registrarse</ion-button>
    </div>
  </section>
</form>
</div>
</ion-content>
