<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form action="">
  <ion-item>
    <ion-label>rut</ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>nombre</ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>apellido</ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>fecha de nacimiento</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>correo </ion-label>
    <ion-input type="text" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Ingrese nuevamente </ion-label>
    <ion-input type="password" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>¿Cuenta con auto?</ion-label>
    <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
  </ion-item>
  <section>

    <ion-button expand="block">Registrarse</ion-button>
  </section>
</form>
</ion-content>
