<ion-content>
  <div class="fondo">
    <ion-header>
      <div class="flexibles">
        <div class="separar" (click)="perfil(sesion.rut)">Perfil</div>
        <div class="separar" (click)="irCrearViaje()">Nuevo viaje</div>
        <div class="separar" *ngIf="sesion.auto == 'si'" (click)="irSolicitudViaje()">Solicitudes viajes</div>
        <div class="separar" *ngIf="sesion.rut != undefined" (click)="cerrarSesion()">Cerrar Sesión</div>
      </div>
    </ion-header>
    <div class="opcion">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="columna_opciones">
            <div class="opciones" (click)="irListar()">USUARIOS EXISTENTES</div>
            <div class="opciones" (click)="irRegistrar()">REGISTRAR USUARIO</div>
            <div class="opciones" (click)="irModificar()">MODIFICAR USUARIO</div>
            <div class="opciones" (click)="irEliminar()">ELIMINAR USUARIO</div>
          </ion-col>
          <ion-col size="9" >
            <div class="contenedor_principal">
              <h1>{{variable}}</h1>
              <div class="listar_usuarios" *ngIf="listado != undefined">
                <ion-card>
                  <ion-item *ngFor="let usuario of listado">
                    {{usuario.rut}} : {{usuario.nombre}}
                  </ion-item>
                </ion-card>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>