<ion-content>
  <div class="fondo">

    <div class="opcion">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="columna_opciones">
            <div class="opciones" (click)="irListar()">
              <img src="https://cdn-icons-png.flaticon.com/512/5812/5812183.png" height="30px" width="30px">
            </div>
            <div class="opciones" (click)="irRegistrar()">
              <img src="https://cdn-icons-png.flaticon.com/512/117/117885.png" height="30px" width="30px">
            </div>
            <div class="opciones" (click)="irModificar()">
              <img src="https://cdn-icons-png.flaticon.com/512/1159/1159876.png" height="30px" width="30px">
            </div>
            <div class="opciones" (click)="irEliminar()"><img
                src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png" height="30px" width="30px"></div>
          </ion-col>
          <ion-col size="9">

            <div class="contenedor_principal">
              <div class="titulo">
                <h1>{{variable}}</h1>
              </div>
              <div class="listar_usuarios" *ngIf="listado != undefined">
                <div class="lista" *ngFor="let usuario of listado">
                  <div class="elemento">
                    <hr>
                    <div><b>Rut</b>: {{usuario.rut}}</div>
                    <div><b>Nombre</b>: {{usuario.nombre}} {{usuario.apellido}}</div>
                    <div><b>Rol</b>: {{usuario.tipo_usuario}}</div>
                    <div><b>Conductor</b>: {{usuario.auto}}</div>
                    <hr>

                  </div>
                </div>
              </div>
              <div class="registrar_usuarios" *ngIf="registrar != undefined">
                <form [formGroup]="alumno" (ngSubmit)="registrarAdmin()">
                  <ion-item>
                    <ion-label>Rut :</ion-label>
                    <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nombre :</ion-label>
                    <ion-input type="text" placeholder="Ingrese nombre" formControlName="nombre"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Apellido :</ion-label>
                    <ion-input type="text" placeholder="Ingrese apellido" formControlName="apellido"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Correo :</ion-label>
                    <ion-input type="email" placeholder="Ingrese correo" formControlName="correo"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Fecha nacimiento :</ion-label>
                    <ion-input type="date" placeholder="Ingrese fecha nacimiento" formControlName="fecha_nac">
                    </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>¿Cuenta con auto? </ion-label>
                    <ion-select placeholder="Seleccione" formControlName="auto">
                      <ion-select-option value="si">Tengo auto</ion-select-option>
                      <ion-select-option value="no">No tengo auto</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>¿Tipo usuario? </ion-label>
                    <ion-select placeholder="Seleccione" formControlName="tipo_usuario">
                      <ion-select-option value="administrador">Administrador</ion-select-option>
                      <ion-select-option value="alumno">Alumno</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>Contraseña :</ion-label>
                    <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Repita Contraseña :</ion-label>
                    <ion-input type="password" placeholder="Ingrese nuevamente contraseña"
                      [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
                  </ion-item>
                  <ion-button type="submit" [disabled]="!alumno.valid">REGISTRAR</ion-button>
                </form>
              </div>
              <div class="modificar_usuarios" *ngIf="modificar != undefined">
                <div *ngIf="modificar == 1">
                  <form [formGroup]="alumno">
                    <ion-item>
                      <ion-label>Rut :</ion-label>
                      <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
                    </ion-item>

                    <ion-button (click)="buscarAdmin()">Buscar</ion-button>
                  </form>
                </div>
                <div *ngIf="modificar == 2">
                  <form [formGroup]="alumno" (ngSubmit)="modificarAdmin()">
                    <ion-item>
                      <ion-label>Rut :</ion-label>
                      <ion-input type="text" placeholder="{{usuario_buscado.rut}}" formControlName="rut"
                        value="{{usuario_buscado.rut}}" readonly></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Nombre :</ion-label>
                      <ion-input type="text" placeholder="{{usuario_buscado.nombre}}" formControlName="nombre">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Apellido :</ion-label>
                      <ion-input type="text" placeholder="{{usuario_buscado.apellido}}" formControlName="apellido">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Correo :</ion-label>
                      <ion-input type="email" placeholder="{{usuario_buscado.correo}}" formControlName="correo">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>{{usuario_buscado.fecha_nac}} : </ion-label>
                      <ion-input type="date" placeholder="" formControlName="fecha_nac">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>¿Cuenta con auto? </ion-label>
                      <ion-select placeholder="{{usuario_buscado.auto}}" formControlName="auto">
                        <ion-select-option value="si">Tengo auto</ion-select-option>
                        <ion-select-option value="no">No tengo auto</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label>¿Tipo usuario? </ion-label>
                      <ion-select placeholder="{{usuario_buscado.tipo_usuario}}" formControlName="tipo_usuario">
                        <ion-select-option value="administrador">Administrador</ion-select-option>
                        <ion-select-option value="alumno">Alumno</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label>Contraseña :</ion-label>
                      <ion-input type="password" placeholder="{{usuario_buscado.password}}" formControlName="password">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Repita Contraseña :</ion-label>
                      <ion-input type="password" placeholder="Ingrese nuevamente contraseña"
                        [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
                    </ion-item>
                    <ion-button type="submit" [disabled]="!alumno.valid">MODIFICAR</ion-button>
                  </form>
                </div>

              </div>
              <div class="eliminar_usuarios" *ngIf="eliminar != undefined">
                <form [formGroup]="alumno">
                  <ion-item>
                    <ion-label>Rut :</ion-label>
                    <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
                  </ion-item>
                  <!-- [disabled]="!alumnoGroupBusAndEli.valid" -->
                  <ion-button (click)="eliminarAdmin()">Eliminar</ion-button>
                </form>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>