<ion-content>
  <div class="fondo">
    <ion-header>
      <div class="flexibles">
        <div class="separar" (click)="perfil(sesion.rut)">Perfil</div>
        <div class="separar" (click)="irCrearViaje()">Nuevo viaje</div>
        <div class="separar" *ngIf="sesion.auto == 'si'" (click)="irSolicitudViaje()">Solicitudes viajes</div>
        <div class="separar" *ngIf="sesion.rut != undefined" (click)="cerrarSesion()">Cerrar Sesión</div>
      </div>
    </ion-header>
    <div class="opcion">
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="columna_opciones">
            <div class="opciones" (click)="irListar()">USUARIOS EXISTENTES</div>
            <div class="opciones" (click)="irRegistrar()">REGISTRAR USUARIO</div>
            <div class="opciones" (click)="irModificar()">MODIFICAR USUARIO</div>
            <div class="opciones" (click)="irEliminar()">ELIMINAR USUARIO</div>
          </ion-col>
          <ion-col size="9">

            <div class="contenedor_principal">
              <div class="titulo">
                <h1>{{variable}}</h1>
              </div>
              <div class="listar_usuarios" *ngIf="listado != undefined">
                <div class="lista" *ngFor="let usuario of listado">
                    <div>
                      {{usuario.rut}} : {{usuario.nombre}} {{usuario.apellido}} | {{usuario.tipo_usuario}}
                    </div>
                </div>
              </div>
              <div class="registrar_usuarios" *ngIf="registrar != undefined">
                <form [formGroup]="alumno" (ngSubmit)="registrar()">
                  <ion-item>
                    <ion-label>Rut :</ion-label>
                    <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nombre :</ion-label>
                    <ion-input type="text" placeholder="Ingrese nombre" formControlName="nombre"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Apellido :</ion-label>
                    <ion-input type="text" placeholder="Ingrese apellido" formControlName="apellido"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Correo :</ion-label>
                    <ion-input type="email" placeholder="Ingrese correo" formControlName="correo"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Fecha nacimiento :</ion-label>
                    <ion-input type="date" placeholder="Ingrese fecha nacimiento" formControlName="fecha_nac">
                    </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>¿Cuenta con auto? </ion-label>
                    <ion-select placeholder="Seleccione" formControlName="auto">
                      <ion-select-option value="si">Tengo auto</ion-select-option>
                      <ion-select-option value="no">No tengo auto</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>¿Tipo usuario? </ion-label>
                    <ion-select placeholder="Seleccione" formControlName="auto">
                      <ion-select-option value="administrador">Administrador</ion-select-option>
                      <ion-select-option value="alumno">Alumno</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>Contraseña :</ion-label>
                    <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Repita Contraseña :</ion-label>
                    <ion-input type="password" placeholder="Ingrese nuevamente contraseña"
                      [(ngModel)]="verificar_password" [ngModelOptions]="{standalone: 'true'}"></ion-input>
                  </ion-item>
                  <ion-button type="submit">REGISTRAR</ion-button>
                </form>
              </div>
              <div class="modificar_usuarios" *ngIf="modificar != undefined">
                <form [formGroup]="alumno" (ngSubmit)="buscar()">
                  <ion-item>
                    <ion-label>Rut :</ion-label>
                    <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
                  </ion-item>

                  <ion-button type="submit">Buscar</ion-button>
                </form>
              </div>
              <div class="eliminar_usuarios" *ngIf="eliminar != undefined">
                <form [formGroup]="alumno" (ngSubmit)="buscar()">
                  <ion-item>
                    <ion-label>Rut :</ion-label>
                    <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
                  </ion-item>

                  <ion-button type="submit">Eliminar</ion-button>
                </form>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>