<ion-content>
  <div class="fondo">
    <div class="opacidad-principal">
      <div class="info">
        <h1>
          ERROR 404
        </h1>
        <div class="contenedor-1">
          <div class="separar">
            <a href="https://es.wikipedia.org/wiki/HTTP_404" target="_blank" rel="noopener noreferrer">¿Qué es un error
              404?</a>
          </div>
          <div class="separar">
            <a href="https://www.cyberclick.es/numerical-blog/error-404-que-es-y-como-solucionarlo-rapida-y-eficazmente"
              target="_blank" rel="noopener noreferrer">¿Cómo solucionarlo?</a>
          </div>
          <div class="separar">
            <a href="https://www.ttandem.com/blog/error-404-y-otros-codigos-de-estado-https-que-debes-conocer/"
              target="_blank" rel="noopener noreferrer">¿Qué otros códigos existen?</a>
          </div>
        </div>
      </div>
      <div class="contenedor-0">
        <div class="opacidad">
          <h3>Oops, lo sentimos.</h3>
          <img src="https://www.mutua.es/digital/recursos/img/pics/error/error404.png" alt="">
        </div>

        <div class="contenedor-2">
          <a class="blanco" routerLink='/login'>Ir a login</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>