<ion-content>
  <div class="fondo">

    <div>
      <h1></h1>

      <div>
        <a href="http://" target="_blank" rel="noopener noreferrer">¿Qué es un error 404?</a>
      </div>
      <div>
        <a href="http://" target="_blank" rel="noopener noreferrer">¿Cómo solucionarlo?</a>
      </div>
      <div>
        <a href="http://" target="_blank" rel="noopener noreferrer">¿Qué otros códigos existen?</a>
      </div>
    </div>
    <div>

      <h3>Oops, lo sentimos, esa ruta no existe.</h3>
      <img src="" alt="">


      <div>
        <a href="">
          Ir a login.
        </a>
      </div>
    </div>

  </div>
</ion-content>