<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <h1 class="fuente">Bienvenido usuario: InserteNombreDeUsuario</h1>
  <ion-card class="color_empresa">
    <ion-card-header>
      <ion-card-title >Te llevo APP</ion-card-title>
    </ion-card-header>
    <ion-card-content class="fuente_letra1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem quidem molestias esse corrupti. Error necessitatibus dolorem voluptatibus vero consequuntur adipisci? Minima atque officia nulla totam maiores exercitationem quo saepe.
    </ion-card-content>
  </ion-card>
</ion-content>
