ion-tabs {
  --background: rgb(14, 0, 255);
  --background: linear-gradient(90deg, rgba(14, 0, 255, 1) 0%, rgba(255, 165, 0, 1) 83%, rgba(255, 195, 0, 1) 100%);

  font-size: 2.5vh;
  font-weight: bold;
  font-family: "Lobster";
  color: white;
  ion-tab-bar{
    --background: rgb(0, 0, 0);
  
  }
}

.fondo {
  box-shadow: none;
  height: 100vh;
  background: transparentize($color: #f0e658bd, $amount: 0.3);
  background: url("../../../assets/img/fondo.jpg");
  height: 100vh;
  background-size: cover;
  text-align: center;
  font-family: "Montserrat";
  .flexibles {
    display: flex;
    flex-direction: row;
    background: rgb(14, 0, 255);
    background: linear-gradient(90deg, rgba(14, 0, 255, 1) 0%, rgba(255, 165, 0, 1) 83%, rgba(255, 195, 0, 1) 100%);
    height: 10vh;
    font-size: 2.5vh;
    font-weight: bold;
    font-family: "Lobster";
    color: white;
    .separar {
      padding-left: 5vh;
      padding-top: 3vh;
    }
  }
}

ion-card {
  background: linear-gradient(#04313f, #9912); // black
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  text-align: center;
  height: 50vh;
  margin: 0 auto;
  top: 5vh;
  width: 50vw;
  align-items: center;
  justify-content: space-around;

  .contenido_home {
    color: rgba(4, 4, 43, 0.904);
    font-style: inherit;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    .color_naranja {
      color: orange;
    }
    .color_azul {
      color: rgba(4, 4, 43, 0.904);
    }
    .titulo {
      color: #ffe9af;
      font-style: inherit;
      font-size: 10vh;
      font-family: "Lobster";
      .color_naranja {
        color: orange;
      }
      .color_azul {
        color: rgba(4, 4, 43, 0.904);
      }
    }
    .parrafo {
      font-size: 2.5vh;
      p{
        font-size: large;
        color:white;
        font-weight: bolder;
      }
    }
  }
}
@media (max-width: 600px) {
  .fondo {
    ion-card {
      width: 90vw;
      height: 80vh;
      .contenido_home {
        .parrafo {
          font-size: 2vh;
        }
        .titulo {
          font-size: 8vh;
        }
      }
    }
  }
}
