


.color_empresa{
    box-shadow: none;
    height: 100vh;
    background: transparentize($color: #f0e658bd, $amount: 0.3);
    background: url(../../../assets/img/concepcion-vista.jpg) no-repeat center/cover fixed;
  }
  ion-card{
    background: linear-gradient(#04313f, #9912 );  // black
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    text-align: center;
    height: 80vh;
    margin: 0 auto;
    top: 5vh;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
  }
.fuente{
    color: #000000;
    font-weight: Bold;
    font-size: 30px;
    font-family: Montserrat;
    font-style: inherit;
  }

.fuente_titulo{
  color: #ffe9af;
  font-style: inherit;
  font-size: 3.5rem;
  font-family: "Lobster";
}

.fuente_letra1{
  color: #000000;
  font-style: inherit;
  font-size: 1.75rem;
  font-family: "Montserrat";
  font-weight: bold;
}

.color_bar{
  --ion-toolbar-background: rgb(50, 118, 182);
}

.color_letra{
  --ion-text-color-rgb: rgb(255, 255, 255);
}