<ion-header>
  
    
    <ion-navbar>
      
  
      <ion-title class="fuente" slot="start"> {{sesion.nombre}}
      </ion-title>
  
     
    </ion-navbar>
  
  


</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="color_empresa">
  <ion-card>

    <ion-card-header>
      <ion-card-title class="fuente_titulo">Te llevo <b>APP</b></ion-card-title>
    </ion-card-header>
    <ion-card-content class="fuente_letra1">
      <div *ngIf="sesion.auto == 'si'">
        Tienes auto
      </div>
      <span><b>TeLlevoApp</b> es una aplicación pensada por 
        estudiantes y para estudiantes de la institución <b>DUOC UC</b>
        con el fin de reducir los problemas de viaje de los estudiantes
        de nuestra querida institución.
        ¡ESPERAMOS DISFRUTES TU VIAJE!</span>
      
    </ion-card-content>
  </ion-card>
</div>
</ion-content>