.color_empresa {
    background-color: #345dff; // black
    box-shadow: none;
  }

.posicion_titulo {
    position: 50%;
}

.fuente{
    font-size: xx-large;
    color: #ffe9af;
    font-weight: 300;
    font-style: inherit;
  }
.fuente_letra1{
        font-size: large;
        color: #ffbe4d;
        font-weight: 300;
        font-style: inherit;
}