<ion-content>
  <div class="fondo">
    <h1 class="titulo">Viajes Disponibles</h1>
    <ion-list lines="none" id="lista">
      <ion-item class="item">
        
        <div>
          <img alt="Silhouette of mountains" src=""/>
        </div>
        <ion-button slot="end" size="default">
          ir Detalle
          <ion-icon name="information-circle" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item class="item">
        <h1>Chofer</h1>
      </ion-item>
      <ion-item class="item">
        <h3>Marca</h3>
      </ion-item>
      <ion-item class="item">
        <h5>Precio</h5>
      </ion-item>
    </ion-list>
  </div>
</ion-content>