<ion-content>
  <div class="fondo">
    <h1 class="titulo">
      Solicitudes de viajes
    </h1>

    <ion-list lines="none" id="lista">
      <ion-item class="item">
        
             
          <ion-grid>
            <ion-row class="chato">
              <ion-col size="6" class="ion-align-self-start">
                <div>
                  <img src="../../../assets/img/Rayo_McQueen.webp" alt="">
                </div>
              </ion-col>
              <ion-col size="6" class="Fuentes">
                <div>
                  <b>Rut</b>: SAMPLE TEXT <!--  {{usuario.rut}} -->
                </div>
                <div>
                  <b>Nombre</b>: SAMPLE TEXT<!-- {{usuario.nombre}} {{usuario.apellido}} -->
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" class="ion-align-self-end">
                <ion-button> 
                  <ion-icon name="archive"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="6" class="ion-align-self-end"> 
                <ion-button>
                  <ion-icon name="trash"></ion-icon>
                </ion-button> 
            </ion-col>
              
            </ion-row>
          </ion-grid>
      </ion-item>
    </ion-list>

    <div>  
      <ion-button> 
        Iniciar
        <ion-icon name="car" slot="end"></ion-icon>
      </ion-button> 
      <ion-button>
        Cancelar 
        <ion-icon name="nuclear" slot="end"></ion-icon>
      </ion-button> 
    </div>
  </div>
  
</ion-content>
