// #map {
//     width: 100%;
//     height: 55%;
//     display: block;
//     border-radius: 5px;
//     border-top: solid;
//     border-color: white;
// }
// #indicaciones {
//     width: 100%;
//     height: 40%;
//     padding: 10px;
//     overflow-y: auto;
//     display: block;
// }
// .fondo {
//     box-shadow: none;
//     height: 100vh;
//     background: transparentize($color: #f0e658bd, $amount: 0.3);
//     background: url("../../../assets/img/fondo.jpg");
//     background-size: cover;
//     text-align: center;
//     align-items: center;
//     justify-content: space-around;
//     font-family: "Montserrat";
//     .formularioViaje {
//         text-align: center;
//         padding-top: 10vh;
//         height: 80vh;
//         background: linear-gradient(#dfa474, #9912);
//         border-radius: 5px;
//         ion-item {
//             width: 85vw;
//             --background: none;
//             color: rgb(65, 45, 9);
//         }
//         #inicio {
//             color: rgb(65, 45, 9);
//             background: none;
//             border:none;
//         }
//         #autocomplete {
//             color: rgb(65, 45, 9);
//             background: none;
//             border:none;
//         }
        
//     }

// }

// #tabla{
//     width: 85vw;
//             --background: none;
//             color: rgb(65, 45, 9);
// }


ion-button {
    color: rgba(4, 4, 43, 0.904);
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Montserrat";
    --background: transparentize($color: #1e7065cb, $amount: 0.3);
    font-weight: bold;
  }

.fondo{
    box-shadow: none;
    height: 100vh;
    background: transparentize($color: #f0e658bd, $amount: 0.3);
    background: url("../../../assets/img/fondo.jpg");
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
    overflow: scroll;
    
    }

.titulo{
    margin-top: 12.5vh;
    font-family: Lobster;
    color: rgb(34, 22, 1);
    margin-bottom: 3vh;
  }

#lista {
    background: none;
    background: linear-gradient(#748ddf, rgba(190, 104, 17, 0.133));
    border-bottom: solid;
    border-top: solid;
    border-color: white;
       
    }

.item {
    --background: none;
    color: rgb(34, 22, 1);
    font-weight: bold;
    font-family: Lobster;
        b {
            font-family: "Montserrat"
        }
        div {
          height: 25vh;
        img {
          width: 150px;
          height: 150px;
        }
    }
  }