<ion-content>
  <div class="fondo">
    <h1 class="titulo">
      Solicitudes de viajes
    </h1>

    <ion-list lines="none" id="lista">
      <ion-item class="item">
        <div>
          <img src="../../../assets/img/Rayo_McQueen.webp" alt="">
        </div>
          <div>
            <b>Rut</b>: SAMPLE TEXT <!--  {{usuario.rut}} -->
          </div>
          <div>
            <b>Nombre</b>: SAMPLE TEXT<!-- {{usuario.nombre}} {{usuario.apellido}} -->
          </div>
      </ion-item>
    </ion-list>

    <div>  
      <ion-button> 
        Aceptar 
      </ion-button> 
      <ion-button>
        Rechazar 
      </ion-button> 
    </div>
  </div>
  
</ion-content>
