
.recuperacion{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../../../assets/img/campus-arauco4-960x529.jpg");
  background-size: cover;
  text-align: center;
  font-family: 'Montserrat';
}

ion-card {
  background: linear-gradient(rgba(255,165,0,0.6), rgba(223, 164, 116, 0.4) ); 
  margin: 0 auto;
  top: 5vh;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

 
}

ion-item {
  --background: none;

  ion-input{
    
  font-size: 3.5vh;
      font-family: 'Lobster';
      color: orange;
      text-align: center;
  }
  
}
ion-button{
  color: rgba(4, 4, 43, 0.904);
  margin-top: 60px;
  font-family: 'Montserrat';
  --background: transparentize($color: #1e7065cb, $amount: 0.3);
  font-weight: bold;
  
}
.color_boton{
  background-color: #dfa474;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-size: large;
  font-family: 'Lobster';
  font-weight: bold;
  color: rgba(4, 4, 43, 0.904);
  
}
.enlace{
  background: transparentize($color: orange, $amount: 0.6); 
  width: 100vw;
  padding: 15px 15px 15px 15px;
}



.formulario{
  background: linear-gradient(rgba(9, 9, 90, 0.603), rgba(24, 22, 180, 0.133) ); 
  margin: 0 auto;
  top: 5vh;
  height: 90vh;
  width: 88vw;
  display: flex;
  flex-direction: column;
 
  justify-content: space-around;
}
.titulo{
  font-size: 5vh;
  color: rgba(4, 4, 43, 0.904);
    font-family: 'Lobster';
}

ion-toolbar{
  background: rgb(255,214,0);
  background: linear-gradient(90deg, rgba(255,214,0,1) 0%, rgba(73,28,205,1) 100%);
}