
<ion-header>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <ion-toolbar>
    <ion-title>Recuperar</ion-title>
    <ion-button slot="end" routerLink="/login"><ion-icon name="log-in-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 class="titulo" >Recuperación de contraseña</h1> 

 <ion-card color="red">
  <form action="" >

    <ion-item class="color"> 
  
      <ion-input type="text" Placeholder="Ingrese rut" ></ion-input>
    </ion-item>

    <ion-item> 
   
      <ion-input type="text" Placeholder="Ingrese Correo" ></ion-input>
    </ion-item>


    <section>

      <ion-button expand="block">RECUPERAR CONTRASEÑA</ion-button>
    </section>
   
    </form>


</ion-card>


</ion-content>
