.colorFondo {
  background-color: #345dff; // black
  box-shadow: none;
}

.posicion_t {
  position: 50%;
}

.font{
  font-size: xx-large;
  color: #ffe9af;
  font-weight: 300;
  font-style: inherit;
}

.titulo{
text-align: center;
  font-size: xx-large;
  color: #ffe9af;
  font-weight: 300;
  font-style: inherit;

}
/* .tamano{
  text-decoration: ;
} */