
<ion-content>


<div class="recuperacion">
  
 <ion-card color="">
  <h1 class="titulo" >Recuperación de contraseña</h1> 
  <form action="" >

    <ion-item class="color"> 
  
      <ion-input type="text" Placeholder="Ingrese rut" ></ion-input>
    </ion-item>

    <ion-item> 
   
      <ion-input type="text" Placeholder="Ingrese Correo" ></ion-input>
    </ion-item>


    <section>
<!-- a -->
      <ion-button expand="block">RECUPERAR CONTRASEÑA</ion-button>
    </section>
   
    </form>


</ion-card>
</div>

</ion-content>
